@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    body{
        @apply bg-dark text-light;
    }

    .header__icon i{
        @apply  text-2xl;
    }
}

:root{
    --dark:"#000"
    --light:"#fff"
}

body.light{
    background-color: white !important;
    color: black !important;
}